<!DOCTYPE html>
<html>
  <head>
    <title>Stalkmarket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<link rel="stylesheets" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
  </head>

  <body>
    <%= yield %>
		
		
		<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  </body>
</html>
